<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5982046635574475"
     crossorigin="anonymous"></script>
<!-- post2Ad -->
<h1 style="background-color:#eeeeee; color:#999999; font-size:0.5em; line-height:2em;">Advertisement</h1>
<div align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
     style="display:block; border-bottom: initial;"
     data-ad-client="ca-pub-5982046635574475"
     data-ad-slot="5320422124"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
</div>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr>
<p></p>
